
.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px 40px 40px; /* top, left, bottom, right */
}

.expenses-title {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 200;
}

.month-dropdown {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    outline: none;
}

.transactions-card-container {
    width: 350px;
    height: auto;
    background-color: white;
}

.transactions-summary-container {
    display: flex;
    flex-direction: row;
}

.transactions-container {
    display: flex;
    flex-direction: column;
    padding: 0px 40px 0px 40px;
    flex: 1;
}

.transactions-title, .summary-title {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.list-entries-container {
    margin-top: 20px;
}

.summary-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.transactions-title-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-entry-button {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    border: 2px;
    border-radius: 10px;
    border-color: white;
    padding: 0;
}

.add-entry-button:hover {
    color: rgb(147, 197, 156);
}

.add-transaction-popup-outer-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6); /* darken rest of screen outside popup */
    z-index: 1000; /* on top of al other content */

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-transaction-popup-box {
    background: rgb(221, 221, 221);
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    height: auto;

    display: flex;
    flex-direction: column;
}

.add-transaction-popup-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.add-transaction-popup-title {
    color: rgb(70, 70, 70);
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.month-text-input-container {
    display: flex;
    flex-direction: column;
}

.month-day-year-input-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.day-input-box {
    width: 60px;
    padding: 5px 5px 5px 5px;
    font-family: 'Inter', sans-serif;
    outline-color: rgb(137, 137, 137);
    border: none;
    border-radius: 2px;
}

.month-input-box, .year-input-box{
    width: 50px;
    padding: 5px 5px 5px 5px;
    outline-color: rgb(137, 137, 137);
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 2px;
}

.month-text, .day-text, .year-text, .amount-text, .description-text, .category-text, .add-new-category-text {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: rgb(70, 70, 70);
    margin-bottom: 5px;
}

.amount-text-input-container, .description-text-input-container, .category-text-input-container, .add-category-container {
    display: flex;
    flex-direction: column;
}

.description-input-box {
    outline-color: rgb(137, 137, 137);
    font-family: 'Inter', sans-serif;
    height: 50px;
    padding: 5px 5px 5px 5px;
    border-radius: 2px;
    border: none;
    vertical-align: top;
    resize: none; 
}

.amount-input-box {
    outline-color: rgb(137, 137, 137);
    font-family: 'Inter', sans-serif;
    width: 150px;
    padding: 7px 5px 7px 5px;
    border-radius: 2px;
    border: none;
}

.category-dropdown {
    outline-color: rgb(137, 137, 137);
    font-family: 'Inter', sans-serif;
    width: 150px;
    padding: 7px 5px 7px 5px;
    border-radius: 2px;
    border: none;
}

.add-new-category-input {
    margin: 0;
    outline-color: rgb(137, 137, 137);
    font-family: 'Inter', sans-serif;
    width: 150px;
    height: 18px;
    padding: 7px 5px 7px 5px;
    border-radius: 2px;
    border: none;
}

.category-dropdown-add-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.add-category-button {
    height: 32px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(65, 65, 65);
    font-family: 'Inter', sans-serif;
}

.add-category-button-container {
    align-self: flex-end;
}

.add-category-outer-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.submit-transaction-button, .cancel-transaction-button {
    border-radius: 10px;
    background-color: white;
    color: rgb(65, 65, 65);
    outline: none;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 17px;
    height: 35px;
}

.cancel-transaction-button {
    margin-top: 3px;  
}

.submit-transaction-button {
    margin-top: 15px;
}

.cancel-transaction-button:hover, .submit-transaction-button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(186, 186, 186);
}
