
.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px 40px 40px; /* top, left, bottom, right */
}

.expenses-title {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 200;
}

.month-dropdown {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    outline: none;
}

.transactions-card-container {
    width: 350px;
    height: auto;
    background-color: white;
}

.transactions-summary-container {
    display: flex;
    flex-direction: row;
}

.transactions-container {
    display: flex;
    flex-direction: column;
    padding: 0px 40px 0px 40px;
    flex: 1;
}

.transactions-title {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.list-entries-container, .summary-entries-container {
    margin-top: 20px;
}

.summary-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px 40px 0px 0px;
}

.summary-title {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-top: 5px;
}

.summary-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.transactions-title-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-entry-button {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    border: 2px;
    border-radius: 10px;
    border-color: white;
    padding: 0;
}

.add-entry-button:hover {
    color: #939393;
}
